/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Space+Mono&display=swap');

/*
=============== 
Variables
===============
*/
:root {
  --primary-blue: #0daac9;
  --portal-green: #008034;
  --portal-light-green: #94c128;
  --morty-shirt: #f6e72f;
  --mortt-shirt-shadow:#becf43;
  --primary-black: #24282f;
  --secondary-black: #3c3e44;
  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: 'BioRhyme', serif;
  --ff-secondary: 'Space Mono', monospace;
}

/*
=============== 
Global Styles
===============
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-secondary);
  background-color: var(--primary-black);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #ffd661;
  font-weight: lighter;
}
img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  letter-spacing: .125rem;
  text-transform: capitalize;
  font-family: var(--ff-primary);
  color: var(--clr-white);
  padding-bottom: .4em;
}
p {
  text-transform: capitalize;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-white);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition);
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

/* header */

.header {
  height: 360px;
  background-image: url(../assets/rickandmorty-wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--clr-white);
  position: relative;
}

.header::before {
  content: '';
  background-color: var(--clr-black);
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: .65;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__title,
.header__nav {
  z-index: 3;
  position: relative;
}

.header__title {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2em;
}

.header__title p {
  padding-bottom: 1.5em;
}

.header__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  font-family: var(--ff-primary);
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: .2em;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 5px;
  color: rgba(255, 255, 255, .75);
  max-width: 210px;
}

.header__nav {
  position: absolute;
  top: calc(100% - 45px);
  left: calc(50% - 148px);
}
.header__nav ul {
  display: flex;
}
.header__nav .header__nav-item {
  margin: 0 .5em;
}

.header__nav-item a {
  font-weight: bolder;
  font-size: .9rem;
}

/* api-info */

.api-info {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  justify-items: center;
  align-items: center;
  /* position: relative; */
  /* padding: 1em; */
  background-color: var(--secondary-black);
  border-radius: 10px;
  max-width: 400px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 1em; */
  width: 90%;
  min-height: 120px;
  /* font-size: 1.4rem; */
  color: var(--clr-white);
}

.api-info__text > p {
  /* margin-bottom: .3em; */
  /* color: #b7b7b7; */
  font-weight: bold;
}
.api-info__text p > span {
  font-weight: initial;
  color: var(--primary-blue);
}

.left,
.right {
  display: block;
  height: auto;
  padding: 1em;
  cursor: pointer;
  /* width: 16px; */
  /* background-color: red; */

}

.right {
  background-image: url(../assets/icons/right-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
}

.left {
  background-image: url(../assets/icons/left-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* info-section */

.info-section {
  padding-top: 1em;
}

.info-section__btns {
  max-width: 400px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-around;
}

.filter-btn {
  display: inline-block;
  background-color: #19b5fe;
  min-width: 30px;
  padding: .5em;
  border: none;
  border-radius: 5px;
  color: var(--primary-black);
  font-size: .9rem;
  text-transform: uppercase;
  cursor: pointer;
}

/* card-section */

.card-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  display: flex;
  position: relative;
  padding: .5em;
  background-color: var(--secondary-black);
  border-radius: 5px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

/* just for location cards */
.card-item.location {
  min-width: 290px;
}

.img-container {
  width: 40%;
}
.card-item__info {
  width: 60%;
  padding-left: .5em;
}

.card-item__info h4 {
  color: #b7b7b7;
  font-size: 6vw;
}

.card-item__info > p,
.card-location > p {
  font-size: 4vw;
  margin-bottom: .3em;
  color: #b7b7b7;
  font-weight: bold;
}
.card-item__info p > span,
.card-location p > p {
  font-weight: initial;
}

.card-item .status {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  padding: .3em 1em;
  font-size: 2vw;
  border-radius: 10px;
  color: #b7b7b7;
}

.card-item .alive {
  background-color: var(--portal-green);
}

.card-item .dead {
  background-color: #c31e1e;
}

.card-item .unknown {
  background-color: #eec436;
  color: var(--clr-black);
}

/* pendign */
/* here you have to put sth like your contact info */
.contact-section {
  background-color: var(--portal-green);
}

/* footer */

footer {
  height: 150px;
  background-color: var(--portal-green);
  color: #101114;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

footer a {
  color: inherit;
}
.github,
.twitter {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.twitter {
  background-image: url(https://i.postimg.cc/dVW3mZfw/twitter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.github {
  background-image: url(https://i.postimg.cc/qvfvYb9v/github-logo-silhouette-in-a-square.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}






/* for minor corrections width weird width screen sizes */
@media (min-width: 448px) {
  /* character-cards */
  .card-item__info h4 {
    font-size: 1.625rem;
  }
  .card-item__info > p,
  .card-location > p  {
    font-size: 1rem;
  }
  .card-item .status {
    font-size: .625rem;
  }

  /* header-text */
  .header__title h1 {
    margin-bottom: 1em;
    font-size: 2.2rem;
  }
  .header__title p {
    margin-bottom: 1em;
    font-size: 1.125rem;
  }
  /* header-nav */
  .header__nav {
    left: calc(50% - 240px);
  }
  .header__nav .header__nav-item {
    margin: 0 1em;
  }
  .header__nav-item a {
    font-size: 1.4rem;
  }

  /* buttons */
  .filter-btn {
    font-size: 1.125rem;
  }

  /* information-card */
  .api-info {
    font-size: 1.4rem;
  }
}